body{
    background-color: aquamarine;
}
header{
    padding: 10px;
    background-color: darkolivegreen;
    text-align: center;
    left: 0;
    top:0;
    width: 100%;
}
article{
    background-color: deepskyblue;
    text-align: center;
    margin: 100px;
    padding:10px;
}
footer{
    background-color: darkslategrey;
    text-align: center;
    color: aliceblue;
    position: fixed;
    left:0;
    width:100%;
    bottom: 0;
}
h1 {
    color:brown;
}